#top-banner {
    background-color: #000;
    color: #fff;
    padding: 16px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

h1 {
    font-family: sans-serif;
    color: #fff;
}

p {
    font-family: sans-serif;
}

label {
    font-family: sans-serif;
}

input {
    font-family: sans-serif;
}

#container {
    margin-top: 64px; /* Adjust this value based on the height of the top banner */
}

#main-menu {
    margin-top: 150px;
}

#main-menu ul {
    list-style-type: none;
    padding: 0 20px 0 0;
}

#main-menu li {
    padding: 16px 8px 0 0;
}

#container {
    display: flex;
    flex-direction: row;
    margin-top: 48px;
}

#simulator-stage {
    padding: 0 48px 0 48px;
    margin-top: 150px;
}

#score, #manual-score {
    font-family: sans-serif;
}

#manual-choices {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#radius-slider {
    display: block;
}

#radius-manual {
    width: 48px;
}