#top-banner {
    background-color: #000;
    color: #fff;
    padding: 16px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

h1 {
    font-family: sans-serif;
    color: #fff;
}

input[type='number'] {
    border: black 2px solid;
    padding: 4px;
    font-size: large;
}

select {
    border: black 2px solid;
    padding: 4px;
    font-size: large;
}

#sim-speed-label {
    font-family: sans-serif;
    font-weight: bold;
    font-size: large;
}

#radius-label {
    font-family: sans-serif;
    font-weight: bold;
    font-size: large;
}

input[type='radio'] {
    margin-right: 8px;
}

.radio-label-1 {
    font-family: sans-serif;
    font-weight: bold;
    font-size: large;
}
button {
    padding: 8px;
    border: black 2px solid;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}

#points-gen button:hover {
    background-color: #000;
    color: #fff;
}

#simulation-control #optimize-button:hover {
    background-color: darkgreen;
    color: #fff;
}

#simulation-control #stop-button:hover {
    background-color: darkred;
    color: #fff;
}

#data-controls {
    margin-top: 18px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#save-button {
    background: rgb(0, 79, 197);
    color: #fff;
}

#save-button:hover {
    background: rgb(0, 79, 197, 0.8);
}

#load-button {
    background: rgb(0, 79, 197);
    color: #fff;
}

#load-button:hover {
    background: rgb(0, 79, 197, 0.8);
}

#point-stack h2 {
    font-family: sans-serif;
    color: #fff;
    margin-left: 24px;
}

p {
    font-family: sans-serif;
}

label {
    font-family: sans-serif;
}

input {
    font-family: sans-serif;
}

#container {
    margin-top: 64px;
}

#main-menu {
    margin-top: 150px;
}

#main-menu h2 {
    color: black;
}

#point-stack {
    position: fixed;
    top: 160px;
    right: 12px;
    width: 300px;
    background-color: #000;
    padding: 16px;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
}

#point-stack li {
    padding: 8px 0;
    list-style-type: none;
    color: #fff;
    font-family: sans-serif;
}

#main-menu ul {
    list-style-type: none;
    padding: 0 20px 0 0;
}

#main-menu li {
    padding: 16px 8px 0 0;
}

#container {
    display: flex;
    flex-direction: row;
    margin-top: 48px;
}

#simulator-stage {
    padding: 0 48px 0 48px;
    margin-top: 150px;
}

#score, #manual-score {
    font-family: sans-serif;
}

#manual-choices {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#radius-slider {
    display: block;
}

#radius-manual {
    width: 48px;
}

#optimize-button {
    background: lawngreen;
}

#stop-button {
    background: red;
    color: white;
}